.App {
  text-align: center;
}
.header-search {
  display: flex;
  align-items: flex-end;
}
/* .head-con {
  border: 2px solid red;
  padding: 15px;
} */
.title {
  padding: 80px;
}
.titles {
  margin-right: 80px;
}
.link-1 {
  text-decoration: underline;
}
.nav-con {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.copy-right {
  margin-left: 20px;
}
.footers {
  display: flex;
  justify-content: space-between;
  margin: 50px 100px;
}
.icon-set {
  display: flex;
  align-items: center;
  gap: 20px;
}
.fa-brands {
  color: #316ff6;
}

.signup-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 600px;
  justify-content: center;
  background: url(/public/bg-masthead.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  gap: 20px;
}
.second-con {
  height: 400px;
}
.h1-con {
  width: 450px;
}
.h1-con > div > h1 {
  font-size: 40px;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 8px #ff0000;
}
.h1-con > div > h2 {
  font-size: 25px;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 8px #ff0000;
}
.email {
  width: 400px;
  height: 60px;
  border-radius: 8px;
  background-color: white;
  color: black;
  padding: 20px;
}
.input-btn {
  height: 60px;
  border-radius: 8px;
  width: 100px;
  background-color: #316ff6;
}

.icon-container {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.fa-terminal {
  border: 6px solid #316ff6;
  width: 60px;
  height: 60px;
  border-radius: 6px;
  text-align: center;
  padding: 10px;
  color: #316ff6;
}
.fa-4x {
  color: #316ff6;
}
.card-cons > i {
  margin-bottom: 20px;
}
.Containers {
  background-color: white;
  margin-bottom: 20px;
  border-top: solid whitesmoke;
  border-bottom: solid whitesmoke;
}
.inner-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.col-lg-6 > img {
  object-fit: contain;
  overflow: hidden;
}
.col-lg-6 {
  overflow: hidden;
  text-align: left;
  display: flex;
  flex-direction: column;
}
.text-cards {
  width: 460px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.text-cols {
  display: flex;
  align-items: center;
  justify-content: center;
}
.people-con {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 40px;
}
.people-con > h1 {
  margin: 80px 0 30px 0;
}
.inner-cont {
  width: 600px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;
}
.inner-con {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  width: 300px;
  height: 400px;
}
.inner-con > img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.card-container {
  display: flex;
  gap: 8rem;
}
.inner-textcon {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
